/*-----------------------------------------------------------------------------
  HTML, BODY
------------------------------------------------------------------------------*/
html, body {
  margin: 0;
}

/*-----------------------------------------------------------------------------
  Headings
------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;

  @include breakpoint(l) {
    font-size: 3.25em;
  }
}

/*-----------------------------------------------------------------------------
  Elements
------------------------------------------------------------------------------*/
section {
  padding: $component-spacing-mobile;
  @include breakpoint(l) {
    padding: $component-spacing-desktop;
  }
}

form {
  span {
    color: color('red', 'base');
  }
}